body {
  font-family: 'Roboto'
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span, tr, th, td, div, ul, li, input, label, textarea {
  font-family: 'Roboto'
}

.badge-ma {
  border-radius: 50rem;
  color: inherit;
  width: 100px;
  padding: 3px;
  text-align: center;
}

.badge-ma-Pending {
  background: rgba(255, 179, 2, 0.5);
}

.badge-ma-Canceled {
  background: rgba(255, 56, 56, 0.5);
}

.badge-ma-Shipped {
  background: rgba(45, 204, 255, 0.5);
}

.badge-ma-Complete {
  background: rgba(86, 240, 0, 0.5);
}

.bg-ma-warning {
  background: rgba(255, 179, 2, 0.5);
}

.bg-ma-danger {
  background: rgba(255, 56, 56, 0.5);
}

.bg-ma-info {
  background: rgba(45, 204, 255, 0.5);
}

.bg-ma-success {
  background: rgba(86, 240, 0, 0.5);
}

.bg-ma-grey {
  background-color: #F8F9FD;
}

.bg-auth {
  min-height: 100vh;
}

.h-100 {
  min-height: 100vh;
}

.bg-ma-primary {
  background-color: #0B3954;
}

.rounded-xl {
  border-radius: 10px;
}

.auth-card {
  width: 700px
}

@media (max-width: 768px) {
  .auth-card {
    width: 500px
  }
}

@media (max-width: 500px) {
  .auth-card {
    width: 350px
  }
}

.text-ma-auth {
  color: rgba(11, 57, 84, 0.78);
}

.text-ma-primary {
  color: #0B3954;
}

.text-ma-secondary {
  color: #BFD7EA;
}

.text-ma-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.text-ma-content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
}

.text-ma-detail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.bg-auth .form-control {
  background: #DFEBF5;
  border: 1px solid rgba(11, 57, 84, 0.78);
  color: rgba(11, 57, 84, 0.78);
  height: 50px;
}

.h1-ma {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
}

.h2-ma {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

.h3-ma {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.h4-ma {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}




.sidebar {
  min-height: 100vh;
}

.sidebar hr {
  border-top: 1px solid #BFD7EA !important;
}

.signoutLink {
  position: fixed;
  bottom: 20px;
  width: 16.666667% !important;
}

@media (max-width: 768px) {
  .sidebar {
    min-height: inherit;
  }

  .signoutLink {
    position: inherit;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100% !important;
  }
}

.menuItem {
  font-size: 18px;
  color: #BFD7EA;
}

.menuItem img {
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

.menuItem i {
  font-size: 25px;
  margin-right: 7px;
}

.menuItem:hover {
  background-color: rgba(61, 189, 143, 0.4);
  border-radius: 10px;
  cursor: pointer;
  color: #FFFBFA;
}

.selected {
  color: #FFFBFA;
}